.share {
    width: 556px;
    height: 551px;
    border-radius: 20px;
    background-color: rgba(242, 216, 184, 1);
}

.shareWrapper {
    padding: 10px;
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput {
    border: none;
    width: 80%;
    background-color: #D1BC8E;
}

.shareInput:focus {
    outline: none;
}

.shareHr {
    margin: 20px;   
}

.shareBottom {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.shareOptions {
    display: flex;
}

.shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon {
    font-size: 18px;
    margin-right: 3px;
    color: rgb(147, 235, 235);
}
